@charset "utf-8";
/* CSS Document */



body {
	background-color: #000;
	color: white;
	font-family: "Courier New", Courier, monospace;
}

#mask {
	width:100%;
	min-width:320px;
	min-height:400px;
	height:auto;
	background-color:#151515;
	z-index: -2;
}

#body #mask #statementdiv {
	margin-top:-0px;
	padding-top: 13px;
	width:100%;
	min-width:320px;
	min-height:400px;
	height:auto;
	text-align:center;
}

#body #mask #statementdiv #Statement {
	background-color: transparent;
	font-size:18px;
	font-weight: 800;
	z-index: 2;
	color: #CCC;
	width: 70%;
	margin-left: 15%;
}
#inventory {
	float: left;
	margin-left: 5%;
	margin-top: 19px;
	color: #CCC;
}

#attributes {
	float: right;
	margin-right: 5%;
	color:#CCC;
}
.buttons {
	margin: 5px;
	padding: 10px;
	width: 320px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
